{% if site.url != "https://www.makereventplaybook.org" or site.url != "http://www.makereventplaybook.org" %}
<!-- Fork - Getting Started Message -->
    <div markdown="span" class="alert alert-warning"
      style="margin:0px; border:0px; border-radius:0px; background-color:#000000; color:#ffffff;"
      role="alert">
      <i class="fa fa-code-fork fa-2x"></i>
      &nbsp&nbsp&nbsp
      This site is a hosted fork of the <a style="color:#ffffff" href="https://github.com/nationofmakers/maker-event-playbook">
      Nation of Makers - Maker Event Playbook</a>
      &nbsp&nbsp&nbsp
      To get started using this event playbook template and to remove this banner,
      <a style="color:#ffffff" href="document_your_event.html">click here</a>.
   </div>
<!-- End: Fork - Getting Started Message (fork_banner.html) -->
{% endif %}
