{% if site.url != "https://www.makereventplaybook.org" and != "http://www.makereventplaybook.org" %}
    <!-- This is a fork of the Nation of Makers Maker Event Playbook          -->
    <!-- Please consult the playbook pages on configuring a fork to remove    -->
    <!--  this search directive. Please do not remove this search directive   -->
    <!--  unless you are creating an event or organization specific playbook  -->
    <meta name="robots" content="noindex, nofollow">
    <!-- End: Search directive for playbook forks (fork_robots_meta.html) -->
{% endif %}
